/* start variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --padding-section: 60px;
  --section-bgc: #f6f6f6;
}

/* end variables */

* {
  box-sizing: border-box;
}
html{
scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #eee;
}
.container {
  /* width: 600px; */
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(163, 94, 94); */
  /* height:100vh; */
  margin: auto;
}
/* start components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 0;
  /* text-shadow: 2px 2px 2px #797979; */
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

/* end components */

/* meadia querries */
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start header */
header {
  padding: 20px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 60px;
}
header .links {
  position: relative;
  cursor: pointer;
}
header .links:hover .burger-icon span:nth-child(2) {
  width: 100%;
  /* display: block; */
}
header .links:hover ul {
  display: block;
  z-index: 99;
}
header .links .burger-icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
header .links .burger-icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 3px;
}
header .links .burger-icon span:first-child {
  width: 100%;
}
header .links .burger-icon span:nth-child(2) {
  width: 70%;
  transition: 0.3s;
}
header .links .burger-icon span:last-child {
  width: 100%;
}
.links ul {
  list-style: none;
  margin-top: 5px;
  padding: 0;
  position: absolute;
  background-color: #f3f1f1;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
}
.links ul::before {
  content: "";
  content: "";
  border-width: 10px;
  border-style: solid;
  /* border-color: red green blue black; */
  border-color: transparent transparent #f3f1f1 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
/* .links ul:hover::before {
  border-color: transparent transparent #10CAB7 transparent ;
} */
/* .links ul::after {
} */
.links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}
.links ul li a:hover {
  padding-left: 5px;
  background-color: var(--main-color);
}
.links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
  /* color: #ddd; */
}
/* end header */

/* start  landing  */
.landing {
  background-image: url(../images/landing1.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* we add width because we dont want that the introtext expand (tamadod) */
  width: 320px;
  max-width: 100%;
}
.landing .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 45px;
  color: var(--main-color);
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end  landing  */

/* start features */

.features {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: var(--section-bgc);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feat {
  padding: 20px;
  text-align: center;
}
.features .feat i {
  color: var(--main-color);
}
.features .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .feat p {
  line-height: 1.6;
  color: #777;
  font-size: 17px;
}

/* end features */
/* start services */
.services {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 100px;
}
.services .services-content .serv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .serv {
    flex-direction: column;
    text-align: center;
  }
}
.serv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.serv .text {
  flex: 1;
}
.serv .text h3 {
  margin: 0 0 20px;
}
.serv .text p {
  color: #777;
  font-weight: 300;
  line-height: 1.6;
}
.image {
  text-align: center;
  position: relative;
}
.image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  right: 0;
  position: absolute;
  z-index: -1;
}
@media (max-width: 1199px) {
  .mount {
    display: none;
  }
}
.image img {
  width: 260px;
  max-height: 260px;
}
/* end services */

/* start portfolio */
.portfolio {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: var(--section-bgc);
}
.Portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 80px;
}
.card {
  background-color: #fff;
}
.card img {
  max-width: 100%;
}
.card .info {
  padding: 20px;
}
.card .info h3 {
  text-align: center;
  margin: 0;
}
.card .info p {
  color: #777;
  line-height: 1.8;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .card .info p {
    text-align: center;
  }
}
/* end portfolio */
/* start about */
.about {
  padding-top: var(--padding-section);
  padding-bottom: calc(var(--padding-section) + 60px);
  /* background-color: var(--section-bgc); */
}
.about-content {
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about-content {
    flex-direction: column;
    text-align: center;
    /* margin-top: 40px; */
  }
  .image-about {
    margin: 0 auto;
  }
  .text-about {
    margin-top: 50px;
  }
  .image-about::before,
  .image-about::after {
    display: none;
  }
}
.image-about {
  position: relative;
  width: 260px;
  height: 346.66px;
}
.image-about::before {
  content: "";
  position: absolute;
  width: 100px;
  top: -40px;
  left: -30px;
  height: calc(100% + 80px);
  background-color: var(--section-bgc);
  z-index: -1;
}
.image-about::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 270px;
  top: -40px;
  right: -130px;
  /* background-color: var(--main-color); */
  border-left: 90px solid var(--main-color);
  border-bottom: 60px solid var(--main-color);
  z-index: -1;
}
.image-about img {
  max-width: 100%;
}
.text-about {
  /* autre soloution */
  /* flex: 1;
  padding-left: 200px; */
  /* end autre soloution */
  flex-basis: calc(100% - 500px);
  /* position: relative; */
}
.text-about p:first-of-type {
  font-weight: bold;
  line-height: 1.8;
  margin-bottom: 50px;
}
.text-about hr {
  width: 50%;
  display: inline-block;
  border: 0.5px solid var(--main-color);
  background-color: var(--main-color);
}
.text-about p:last-of-type {
  line-height: 1.8;
  color: #777;
}

/* end about */
/* start contact */
.contact {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  background-color: var(--section-bgc);
}
.contact .info {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section);
  text-align: center;
}
.info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.info .link {
  /* display: block; */
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
}
@media (max-width: 767px) {
  .info .link {
    font-size: 25px;
  }
  .info .label {
    font-size: 25px;
    letter-spacing: -1px;
  }
  .social {
    font-size: 17px;
  }
}
.social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
.social i:hover{
  color: var(--main-color);
  cursor: pointer;
}
/* end contact */
/* start footer  */
footer{
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
}
footer span{
  color: var(--main-color);
  font-weight: bold;
}
/* end footer  */
